{% extends 'base.html' %}

{% block title %}
<title> add ingrediants </title>
{% endblock %}

{% block link %}
	<ul class="nav nav-pills nav-fill p-3">
	  <li class="nav-item">
	    <a class="nav-link text-white" aria-current="page" href="{{url_for('main.base')}}">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('main.find_recipe', filters='all')}}">Find Recipe</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="{{url_for('main.add_recipe')}}">Add Recipes</a>
	  </li>

	  {% if not current_user.is_authenticated %}
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('auth.login')}}">Log In</a>
	  </li>
	  {% else %}
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('auth.logout')}}">Sign Out</a>
	  </li>
	{% endif %}

	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('main.profile')}}" tabindex="-1" aria-disabled="true">Profile</a>
	  </li>

	</ul>
	{% endblock %}

{% block hearder %}

<h3 class="d-flex justify-content-center mt-3 "> Add Ingrediants </h3>
{% endblock %}

{% block content %}

	<div class="container  p-0">
		<form method="post" enctype="multipart/form-data" >
		<div class="row p-0 ">
			
					<div class="col-12 bg-dark text-light pt-5">
						
						<div class="mb-3 d-flex">
						<div class="col-5">
					  		<label for="item" class="form-label">Item name</label>
					  		<input type="text" class="form-control" id="item" name="item" placeholder="eggs">
							
						</div>
						<div class="col-5"> 
					  		<label for="amount" class="form-label">item amount</label>
					  		<input type="text" class="form-control" id="amount" name="amount" placeholder="2..">
							
						</div>
						
						<div class="col-2">
						<br>
						<input class="btn btn-info " type="submit" name="button" value="add">
							
						</div>
						</div>
						
						<hr style="border-color: white;">
						

						<ol class="list-group list-group-numbered bg-dark">
						{% if data %}
							{% for item, value in data.items() %}
							  <li class="list-group-item d-flex justify-content-between align-items-start bg-dark">
							    <div class="ms-2 me-auto">
							      <div class="fw-bold">{{item}}</div>
							      {{value}}
							    </div>
							    <span class="badge"><a href="/home/add-recipe/add-ingrediants/remove/{{item}}/{{value}}" class="text-danger"><i class="fa-solid fa-trash-can"></i></a></span>
							  </li>
							{% endfor %}
						{% endif %}
						  <!-- <li class="list-group-item d-flex justify-content-between align-items-start bg-dark">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Subheading</div>
						      Cras justo odio
						    </div>
						    <span class="badge bg-primary rounded-pill">14</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-start bg-dark">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Subheading</div>
						      Cras justo odio
						    </div>
						    <span class="badge bg-primary rounded-pill">14</span>
						  </li> -->
						</ol>
						<hr style="border-color:white;">
						
						<div class="d-flex justify-content-end pb-4 w-100">
						<input class="btn btn-outline-success w-100" type="submit" name="button" value="Save & Continue">
							
						</div>

					</div>
				
			</div>
			</form>
		
	</div>

{% endblock %}

