<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


	{% block title%}
	<title></title>
	{% endblock%}
</head>
<body style="font-family: cursive; font-size: 20px; font-weight: bold;">

<div class="bg-dark " >
	{% block link %}
	<ul class="nav nav-pills nav-fill p-3">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="{{url_for('main.base')}}">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('main.find_recipe', filters='all')}}">Find Recipe</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('main.add_recipe')}}">Add Recipes</a>
	  </li>

	  {% if not current_user.is_authenticated %}
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('auth.login')}}">Log In</a>
	  </li>
	  {% else %}
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('auth.logout')}}">Sign Out</a>
	  </li>
	{% endif %}

	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('main.profile')}}" tabindex="-1" aria-disabled="true">Profile</a>
	  </li>

	</ul>
	{% endblock %}
</div>

{% block hearder%}
<h3 class="d-flex justify-content-center mt-3">Top Recipe </h3>
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
<hr style="border: 1px solid lightblue;">

{% block content %}

{% endblock %}
	

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>