{% extends 'base.html'%}

{% block title %}
<title>Profile</title>

{% endblock %}


{% block link %}
<ul class="nav nav-pills nav-fill p-3">
	  <li class="nav-item">
	    <a class="nav-link text-white" aria-current="page" href="{{url_for('main.base')}}">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('main.find_recipe', filters='all')}}">Find Recipe</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('main.add_recipe')}}">Add Recipes</a>
	  </li>

	  {% if not current_user.is_authenticated %}
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('auth.login')}}">Log In</a>
	  </li>
	  {% else %}
	  <li class="nav-item">
	    <a class="nav-link text-white" href="{{url_for('auth.logout')}}">Sign Out</a>
	  </li>
	{% endif %}

	  <li class="nav-item">
	    <a class="nav-link active" href="{{url_for('main.profile')}}" tabindex="-1" aria-disabled="true">Profile</a>
	  </li>

	</ul>
{% endblock %}


{% block header %}
<h3 class="d-flex justify-content-center mt-3 "> Profile </h3>
{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		<form method="post" class="w-100">
			<h3 class="d-flex justify-content-center mt-3 "> Update Username and password </h3>
			<div class="col-12 d-flex justify-content-between flex-wrap ">
				<input type="text" name="username" class="form-control  col-4 w-100" placeholder="{{current_user.username}}" value="{{current_user.username}}">
				<input type="password" name="password" class="form-control col-4  w-100" placeholder="{{current_user.password}}" value="{{current_user.password}}">
				<input type="submit" value="Save Changes" class="btn btn-primary  col-4 w-10">
			</div>
			
		</form>
	</div>
	<hr>
	<h3 class="d-flex justify-content-center mt-3 "> Your recipes </h3>
	<div class="row mt-4"> 

		{% if recipes %}
			{% for recipe in recipes %}

				<div class="col-sm-12 col-md-4 w-100">
					<a href="{{url_for('main.view_recipe', id=recipe.id)}} " class="col-sm-12 col-md-6 col-lg-3  mx-3 mt-4 text-dark w-100" style="text-decoration: none; font-size: 20px; font-family: cursive; font-weight: bold;">
						<div class="card m-1 " style="border:none;" >
						  <img src="{{url_for('main.static', filename='images/'+recipe.image)}}" class="card-img-top" alt="...">
						  <div class="card-body p-0 m-0 d-flex justify-content-between mt-3">
						    <p class="card-text pt-0 mt-0 mb-0">{{recipe.title}}</p>
						    <div class="d-flex justify-content-end" style="font-size: 14px;">
						    	<i class="fa fa-star text-warning" aria-hidden="true"></i>
						    	<i class="fa fa-star text-warning" aria-hidden="true"></i>
						    	<i class="fa fa-star text-warning" aria-hidden="true"></i>
								<i class="fa fa-star text-warning" aria-hidden="true"></i>
								<i class="fa fa-star text-warning" aria-hidden="true"></i>
						    </div>
						  </div>
						</div>
						
					</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>

</div>

{% endblock %}

